.banner-hero {
    height: 100vh;
    min-height: 500px;
    background-image: url('../images/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-text-left {
    margin-top: 223px;
    text-align: center!important;
}
.banner-align-items-center{
    margin-left: -653px;
}
.banner-image-right{
    margin-top: -411px;
    margin-left: -117px;
    text-align: right!important;
    background-image: url('../images/plate.png');
    background-size: 25%;
    background-position: right;
    background-repeat: no-repeat;
}
.banner-image-left-left{
    position: absolute;
    text-align: right!important;
    background-image: url(../images/leaf1.png);
    background-size: 100%;
    width: 50px;
    height: 50px;
    margin-left: 694px;
    margin-top: 310px;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-image-left-right{
    text-align: right!important;
    background-image: url('../images/pasta.png');
    background-size: 5%;
    background-position: right;
    background-repeat: no-repeat;
}
